* {
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color-light: #6a59d1;
}


.btn-outline-intento {
    border: none;
    color: white !important;
    font-weight: 500 !important;
    width: 90%;

    box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
    transition: ease-out 0.5s;
    background: rgb(203, 114, 194);
    background: linear-gradient(
      53deg,
      rgba(203, 114, 194, 1) 0%,
      rgba(143, 116, 212, 1) 56%,
      rgba(106, 89, 209, 1) 100%
    );
  }

  .btn-outline-intento:hover {
    box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
  }


  .btn-outline-reiniciar {
    border-color: var(--main-color-light) !important;
    color: var(--main-color-light) !important;
    font-weight: 500 !important;
    width: 100%;
  }
  .btn-outline-reiniciar:hover {
    background-color: var(--main-color-light) !important;
    color: white !important;
  }

  .descripcion{
    font-size: 1.2em;
  }
  @media (min-width: 180px) and (max-width:380px){
    .btn-fa{
      margin-top: 15px ;
    }
    textarea{
      width: 75%;

    }
  }


 @media (min-width: 300px) and (max-width:991px){
  .descripcion{
    font-size: 1em;
  }
  .resultado{
    width: 100%;
    border-radius: 5px;
    padding:  0.8em  0.1em 0.8em 0.1em;
    color: white;
  }


 }
  .game{
    background: linear-gradient(
      53deg,
      rgba(203, 114, 194, 1) 0%,
      rgba(143, 116, 212, 1) 56%,
      rgba(106, 89, 209, 1) 100%
    );
    color: white!important;
  }

  .resultado{
    width: 50%;
    border-radius: 5px;
    padding:  0.8em  0.1em 0.8em 0.1em;
    color: white;
  }



  /* ============= Form ================ */

.form {
    background: #fff;
    border-radius: 10px;
    z-index: 1;
    color: #3c3b3b;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
}

/* ============= Form Inputs ================ */
.form input {
    color: #3c3b3b;
    font-family: "Poppins";
    cursor: pointer;
}

.form label {
    cursor: pointer;
}



.listaNombres {
  background: #fff;
  border-radius: 10px;
  z-index: 1;
  color: #3c3b3b;
  box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
}
ul{
  margin: 0!important;
  padding: 12px!important;
}

li{
  list-style: none;
  background: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0!important;
}

li p {
  margin: 0!important;
  padding-top: 15px;
  padding-left: 20px;  
  padding-bottom: 15px;
  width:100%;
    
}